<form
    className="col-10 col-lg-7 p-auto mx-auto my-lg-auto my-4 "
  >
  <div className="d-flex flex-column justify-content-center text-danger ">
    <h6 class="text-center text-dark">
Introduce los datos requeridos para añadir una noticia
    </h6>
  </div>
    <div
      class="col-11 d-flex flex-column m-auto"
    >
      <input
        type="text"
        class="form-control mb-2"
placeholder="title"
id="title"
        required
      />
     <textarea class="form-control mb-2" placeholder="Descripcion" id="description" cols="10" rows="4"></textarea>
    <input
    type="text"
    class="form-control mb-2"
    id="date"
placeholder="Fecha"
    required
  />
  <input
  type="text"
  class="form-control mb-2"
  id="image"
  placeholder="Url de la foto"
  required
/>
<input
type="text"
class="form-control mb-2"
id="tags"
placeholder="Keywords"
required
/>
      <div class="d-flex flex-direction justify-content-center p-1">
        <button class="btn btn-dark text-light w-100 w-lg-50">
          <span class="fontHLIB">Enviar</span>
        </button>
      </div>
    </div>
  </form>
