<nav class="bgBlack ">
  <div class="d-flex justify-content-center">
    <a
    class="  text-danger my-5 ff "
    target="_blank"
    href="https://www.facebook.com/onesecondfaith"
    ><i class="fa-brands fa-square-facebook fa-2xl"></i></a
  >
    <a
    class=" text-danger my-5 ff"
    target="_blank"
    href="https://open.spotify.com/artist/6tFCiZQRje5CSFkkt4sQ7D"
    ><i class="fa-brands fa-spotify fa-2xl"></i></a
  >

      <a
        class=" text-danger my-5 ff "
        target="_blank"
        href="https://www.instagram.com/onesecondfaith/"
        ><i class="fa-brands fa-square-instagram fa-2xl"></i></a
      >
      <a
      class="  text-danger my-5 ff"
      target="_blank"
      href="https://www.youtube.com/user/onesecondfaith"
      ><i class="fa-brands fa-square-youtube fa-2xl"></i></a
    >

  </div>
  <div class="fw-bold text-center text-light"> By manuelcodex</div>
</nav>
