<div class="container mt-3">
  <ul class="d-flex flex-lg-row justify-content-between list-unstyled ">
    <li class="nav-item col-3">
      <a
        class="h4 align-self-center nav-link headerTitle"
        href="/admin/shows"
        >Administrar Shows</a
      >
    </li>
    <li class="nav-item col-3">
      <a
        class="h4 align-self-center nav-link headerTitle"
        href="/admin/photos"
        >Administrar Fotos</a
      >
    </li>
    <li class="nav-item col-3">
      <a
        class="h4 align-self-center nav-link headerTitle"
        href="/admin/news"
        >Adminitrar Noticias</a
      >
    </li>
  </ul>
  <ul class="d-flex flex-column flex-lg-row justify-content-between ">

</ul>
