<nav class="navbar navbar-expand-lg bgBlack">
  <div
    class="d-flex
    flex-column flex-lg-row
    pr-5 w-100 container-fluid "
  >
    <a
      class="navbar-brand w-25 align-self-center d-flex justify-content-center d-none d-lg-block"
      href="/home"
      ><img
        class="img-fluid w-25 align-content-center ms-3"
        src="https://res.cloudinary.com/manuelcodex/image/upload/v1661268748/conciertos/logoSinFondo_psrbgu.png"
        alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="">
        <img
        class="img-fluid w-25 align-content-center "
        src="https://res.cloudinary.com/manuelcodex/image/upload/v1661268748/conciertos/logoSinFondo_psrbgu.png"
        alt="logo"
    />
      </span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav text-center ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"
                >Home</a
              >
            </li>
            <div>
            <div class="d-flex flex-column flex-lg-row ">
              <li class="nav-item d-block d-lg-none">
                <a
                  class="h4 align-self-center nav-link text-light"
                  href="/home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="h4 align-self-center nav-link text-light"
                  href="/shows"
                  >Concerts</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="h4 align-self-center nav-link text-light"
                  href="/about"
                  >About us</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="h4 align-self-center nav-link text-light"
                  target="_blank"
                  href="https://open.spotify.com/artist/6tFCiZQRje5CSFkkt4sQ7D"
                  >Songs</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="h4 align-self-center nav-link text-light"
                  href="/contact"
                  >Contact</a
                >
              </li>
            </div>
          </div>
          </ul>
        </div>
      </div>

</nav>
