<section class="aboutInfo">
<div class="container">
  <!-- Crear interface con galeria de fotos de conciertos -->
  <div>
  <h1 class="text-center text-light animate__animated animate__fadeInLeft">One second Faith</h1>
  <p class="container text-light animate__animated animate__fadeInUp">
    Tras muchos ańos de largo recorrido por separado, José Miguel Flores, Raúl
    Sáez y Alejandro Jiménez deciden comenzar en Diciembre de 2011 un nuevo
    proyecto en el que prime la música, la composición y la fuerza.Tras la
    entrada de Ramón Nissen a principios de 2012 la formación adoptó el estilo y
    el sonido definitivos. Influenciados por el Death Metal y el Groove Metal,
    rápidamente, la banda perfila los temas y compone lo que son los cimientos
    de un sonido propio y característico. <br />En Noviembre de 2012 Gabriel se
    una a la formación aportando su voz y la rabia que hacían falta para
    redondear las composiciones.En 2013, después de la marcha de Ramón y
    Gabriel, la bando siguió trabajando dando un lavado de cara a los temas y
    escribiendo nuevos a la vez que seguía buscando nuevos miembros. A finales
    de 2013 se incorpora Willy Romero a la batería y en la primavera de 2014
    Luisma Rott Vazquez cierra la formación. <br />Tras finalizar la grabación
    de su primer EP Willy Romero abandona la banda por motivos personales y
    Javier Bueno entra en su lugar. A comienzos del Septiembre de 2018 la banda
    sufre otro cambio de formación, incorpora al bajo a Karl y a Paris Lakryma a
    la batería. Ahora la banda esta trabajando en el lanzamiento de su próximo
    EP "Awakening" que será lanzado en el verano de 2022.
  </p>
</div>
<div class="d-flex flex-wrap justify-content-center animate__animated animate__zoomIn">
  <div *ngIf="isLoading" class="text-white">
    <mat-spinner
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value">
      </mat-spinner>
    </div>
  <ng-container
   *ngFor="let photo of photo| pagesPhoto: photos" class="search-result">
   <div >
    <img
      [src]="photo.image"
      class=" col-2 img-fluid poster p-2 imgSmall "
    />
      <div class="text-white text-center ">
        {{ photo.city}}
      </div>
    </div>
    </ng-container>


</div>
<div class="d-flex justify-content-center ">
  <button class="btn btn-dark mx-3" (click)="prev8Photos()"> Ir a la página {{page -1 }}</button>

  <button class="btn btn-dark mx-3" (click)="next8Photos()">Ir a la página {{page+1}}</button>
</div>

</div>
<button type="button" class="btn btn-success" (click)="openModal()">Abrimos el modal</button>
<div *ngIf="modalSwitch == true">
  <app-photo-concerts ></app-photo-concerts>
</div>

</section>
