.home {
  display: flex;
  background-color: #080100;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.imgLink {
  position: relative;
  display: inline-block;
}
.imgDark:hover {
  filter: grayscale(100);
}
.imgLink:hover .textAbout {
  opacity: 1;
}
.textAbout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4em;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;


}
@media (max-width: 600px) {
  .textAbout {
    position: absolute;
    top: 80%;
    left: 20%;
    opacity: 5;
    padding: 0.5em;
    color: rgb(12, 12, 12);
    background-color: rgba(252, 249, 249, 0.7);
  }
  .imgDark:hover {
    filter: grayscale(0);
  }

}
.entradasLink{
  background-color: #080100;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  transition: ease-in-out .3s;
  border-radius: 5px;
}
.entradasLink:hover{
  background-color: brown;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
