.socialMedia{
  display:flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: rgb(100, 8, 8);
}
  .ff{
      margin-left:1em;
      color: rgb(100, 8, 8);
      transition: ease-in-out .1s;
  }
  .ff:hover {
    color: white;
  }

