<section class="aboutInfo" >
  <!-- Crear interface con galeria de fotos de conciertos -->
  <!-- ? Preguntar por que no coge la fecha completa y si un valor determinado para comparar -->
  <h1 class="text-center text-light">Próximos conciertos</h1>
  <div class="about">
    <ng-container *ngFor="let sho of show" >
      <div class="col-8 col-lg-2 m-1">
      <ng-container
        *ngIf="sho.date[9] >= fechaActualString[8]"
        class="d-flex flex-column justify-content-center align-items-center">
        <img
          src="{{ sho.image }}"
          alt="{{ sho.nameLocal }}"
          class="card-img-top rounded-2 w-100"
        />
      </ng-container>
      </div>
    </ng-container>
  </div>
  <h1 class="text-center text-light">Anteriores conciertos</h1>
  <div class="about">
    <ng-container *ngFor="let sho of show" >
      <div class="col-8 col-lg-2 m-1">
      <ng-container
        *ngIf="sho.date[9] < fechaActualString[8]"
        class="d-flex flex-column justify-content-center align-items-center">
        <img
          src="{{ sho.image }}"
          alt="{{ sho.nameLocal }}"
          class="card-img-top rounded-2 w-100"
        />
      </ng-container>
      </div>
    </ng-container>
  </div>
</section>
