<div class="about animate__animated animate__backInUp">
<div *ngFor="let info of about" class="col-11 col-lg-2 m-1">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img
      src="{{ info.image }}"
      alt="{{ info.name }}"
      class="card-img-top rounded-2 w-100"
    />
    <div
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <h3>
        {{ info.name }}
      </h3>
      <h6>{{ info.city }}</h6>
      <h6>{{ info.instrument }}</h6>

    </div>
  </div>
  </div>
</div>
